html, body {
  background-color: #111;
  color: #fff;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
canvas {
  display: block;
}

a:link, a:visited {
  color: #3ea6ff;
  
  text-decoration: underline;
  cursor: pointer;
}